{% extends 'base.html.twig' %}

{% block title %}Rapport{% endblock %}

{% block body %}
<h1>Rapport</h1>
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="#">Gestion visite</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
            aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="http://localhost:8000/profil" id="dropdown01"
                   data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Mon profil<span class="sr-only">(current)</span></a>
                <div class="dropdown-menu" aria-labelledby="dropdown01">
                    <a class="dropdown-item" href="http://localhost:8000/profil">Information</a>

                    <a class="dropdown-item" href="http://localhost:8000/logout">Déconnexion</a>

                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/profil/rapport">Mes rapports</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:8000/profil/medecin">Mes médecins</a>
            </li>

        </ul>

    </div>
</nav>


<table class="table table-bordered container">
    <span class="border border-5"></span>
    <thead>
        <tr>
            <th>Id</th>
            <th>Date</th>
            <th>Motif</th>
            <th>Bilan</th>
            <th>Médicament(s)</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ rapport.id }}</td>
            <td>{{ rapport.date ? rapport.date|date('d-m-Y') : '' }}</td>
            <td>{{ rapport.motif }}</td>
            <td>{{ rapport.bilan }}</td>
            <td>
                {% for offrir in rapport.offrirs %}
                    {{ (offrir.medicament) }}
                    <strong>{{ (offrir.quantite) }}</strong>
                    <br>
                {% endfor %}
            </td>
            <td>
                {{ include('rapport/_delete_form.html.twig') }}

            </td>
        </tr>
    </tbody>
</table>

    <div class="container">
        <div class="row">
            <center>
                <div>
                    <a href="{{ path('rapport_index') }}" class="btn btn-outline-info mr-2">
                        Retour à la liste de rapport
                    </a>
                </div>

                <div>
{#                    {{ include('rapport/_delete_form.html.twig') }}#}

                </div>
            </center>

            </div>



        </div>
    </div>







{% endblock %}
